md-card-header {
  width: 100%
}
md-card-title {
  width: 100%
}
.notFound {
  width: 402px;
  margin-left: calc(50% - 200px);
  margin-top: 20px;
}

img {
  height: 500px;
  width: 400px;
  margin-left: calc(50% - 200px);
}

p {
  text-align: center;
  margin-left: calc(50% - 65px);
  margin-top: 0px;
  font-weight: bold;
}
